.server {
    padding: 0.5em;

    display: grid;
    grid-template-rows: 1em 1em 2em;
    grid-template-columns: 2em max-content 1fr;
    grid-column-gap: 2em;
    width: 100%;
    height: 4em;


    border-bottom: 1px;
    border-bottom-color: var(--text-secondary);
    border-bottom-style: solid;
}

.server > * {
    grid-column: 4;
}

.server__icon {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    height: 4em;
    width: 4em;
}

.server__icon > img {
    width: 100%;
    height: 100%;
}

.server__name {
    grid-row: 1;
    grid-column: 2;
}

.server__motd {
    grid-row: 2;
    grid-column: 2;
    color: var(--text-secondary);
}

.server__address {
    grid-row: 1;
    grid-column: 3;
    justify-self: center;
}

.server__players {
    grid-row: 1;
    grid-column: 4;
    text-align: right;
    color: var(--text-secondary);
}

.server__version {
    grid-row: 3;
    grid-column: 4;
    text-align: right;
    align-self: end;
    color: var(--text-secondary);
}